[submodule "kicad-libs"]
	path = kicad-libs
	url = https://github.com/adafruit/kicad-libs.git
[submodule "digikey-kicad-library"]
	path = digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = https://github.com/adafruit/Adafruit-Eagle-Library.git
